* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  width: 35rem;
  height: auto;
  font-size: 1.8rem;

  background-image: linear-gradient(
    to right top,
    #07051d,
    #080620,
    #090723,
    #0a0926,
    #0a0a29
  );
  color: #e6e6e9;
  font-family: 'Gentium Book Plus', serif;

  display: flex;
  flex-direction: column;
}

.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: dashed 2px rgba(255, 87, 87, 0.4);
}

.time-container {
  font-size: 2.8rem;
  letter-spacing: 1.1px;
}
.time-identifier {
  font-size: 2rem;
}

.top-identifier-text {
  transform: translateY(-6px);
}

.bottom-info {
  padding: 0.4rem;
}
